.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0 1 auto; /* Grow and shrink as needed, without overflowing */
}

.App-content {
  flex: 1 1 auto; /* Flex child that will take up the remaining space */
  overflow: auto; /* Scroll internally if content is too large */
  padding: 10px; /* Add padding for internal spacing */
}

.App-header p {
  text-align: left;
  margin: 0; /* Override default paragraph margins if necessary */
}

/* Add this class to the div containing the list of game sessions */
.game-session-list {
  padding: 0;
  list-style: none; /* Remove default list styling */
}
